:root{
    --accent: #10b981;
    --light-body-text:  #595959;
    --light-content-text:  #555;
    --light-intro-text: #cd3dcd;
    --text-secondary: #737373;
    --dark-body-text: #f0f0f0;
    --dark-content-text: #ddd;
    --dark-intro-text: #FFE4E1;
    --body-font:'Arbutus Slab';
    --title-font: 'Courier New', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: clamp(12px, 1.2vw, 20px);
}

body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    color: var(--light-body-text);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #f3fc79, #f490dd);
    z-index: -1;
    animation: hueRotate 10s infinite linear;
}



/* Header & Navigation */
header {
    padding: clamp(12px, 2rem, 30px) 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(244, 144, 221, 1) 100%);
}

.container {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    display: flex;
    top: 15px;
    right: 5vw;
    list-style: none;
}
.menu li {
    margin: 0 1rem;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: clamp(15px, 1.4vw, 24px);
    position: relative;
}

.menu li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    bottom: -5px;
    left: 0;
    animation: slideIn 0.3s ease-in-out;
}
@keyframes slideIn {
    from { width: 0; }
    to { width: 100%; }
}

/* page content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
}

h2 {
    position: absolute;
    top: 10vh;
    left: 10vw;
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: bold;
    color: ivory;
    text-shadow:
    2px -2px 0 white,
    -2px 2px 0 #a93da9,
    2px 2px 0 #a93da9;
    margin: 0;
}

.intro-text {
    position: absolute;
    top: 15vh;
    left: 40vw;
    font-weight: bold;
    color: var(--light-intro-text);
    margin: 0;
}
.intro-text p{
    font-size: 2.5rem;
    font-family: 'Courier New', monospace;
}
.intro-text h1{
    font-family: 'Arbutus Slab', cursive;
    color: var(--light-body-text);
    font-size: 7rem;
}
.profile-card{
    background: none;
    font-size: 1.25rem;
    max-width: 50vw;
    text-align: left;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-bottom: 5px;
    margin-right: 5px;
}
.profile-pic{
    width: 40vw; 
    height: auto;
    max-width: 100%;
    margin: 0;
}
/* Shared Container for All Sections */
section.profile{
    width: 90vw;
    height: 80vh;
    align-items: center;
    justify-content: right;
    display: flex;
}
section{
    height: 80vh;
    align-items: center;
    justify-content: right;
    display: flex;   
}
.content-container {
    background: none;
    font-size: 1.25rem;
    text-align: left;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.contacts {
    position: absolute;
    bottom: 20px;  /* 20px from the bottom */
    left: 50%;     /* Start from the center */
    transform: translateX(-50%); /* Shift left by half its own width to center it */
    display: flex;
    justify-content: center;
    gap: 15px;     /* Space between icons */
}

.contacts a {
    font-size: 25px;
    color: var(--light-body-text);
    text-decoration: none;
}

/* timeline styles */
.timeline {
    position: relative;
    padding: 20px 0;
    width: 75vw;
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 10px;
}

/* Customize scrollbar for better aesthetics */
.timeline::-webkit-scrollbar {
    width: 10px;
}

.timeline::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #10b981, #1E90FF);
    border-radius: 5px;
}

.timeline::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #ddd;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 80%;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.timeline-item:hover {
    background: rgba(16, 185, 129, 0.2);
}

.timeline-item.active {
    background: rgba(30, 144, 255, 0.3);
}

.timeline-item::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 20px;
    border: 4px outset rgba(244, 144, 221, 1);
}

.timeline-date {
    display: inline-block;
    font-weight: bold;
    background: #10b981;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    width: auto;
    min-width: fit-content;
    text-align: center;
    white-space: nowrap;
}

.timeline-content h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.timeline-content span {
    color: #1E90FF;
    font-weight: bold;
}

.timeline-content p {
    font-size: 1rem;
    display: none; /* Hide descriptions initially */
    transition: all 0.3s ease-in-out;
}

.timeline-item:hover .timeline-content p {
    display: block; /* Show description on hover */
}

.timeline-item.active .timeline-content p {
    display: block;
}


body.dark .timeline-date{
    color: #fff;
}


/* Keyframes */
@keyframes hueRotate {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}

/* Theme Toggle */
.theme-toggle {
    position: fixed;
    top: 15px;
    right: 2vw;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

/* Hide sections until shown */
.hidden {
    display: none;
}

/* Keyframes */
@keyframes hueRotate {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}


/* Skill section styles */
.skills-container {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    gap: 5rem;
    font-size: 2rem;
}

.skills-column {
    width: 30vw;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.skill i {
    font-size: 1.5rem;
    color: #737373;
}

.progress-bar {
    flex-grow: 1;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #10b981;
}

.progress-bar.hobby .progress {
    background: #eab308;
}

/* project section */
.projects-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    padding-bottom: 10px;
}

.projects-container::-webkit-scrollbar {
    height: 10px;
}

.projects-container::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #10b981, #1E90FF);
    border-radius: 5px;
}

.projects-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.project-card {
    background: rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 25vw;
    flex-wrap: wrap;
    min-height: 50vh;
    flex-shrink: 0;
}

.project-card h3 {
    margin-bottom: 5px;
    font-size: 1.4rem;
    flex-wrap: wrap;
}

.project-date {
    font-size: 0.9rem;
    color: #1E90FF;
    display: block;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.techniques {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.technique-tag {
    background: #10b981;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Dark Mode */
body.dark h1{
    color: var(--dark-body-text); 
}
body.dark .intro-text{
    color: var(--dark-intro-text);
}
body.dark h2{
    color: var(--dark-intro-text);
}
body.dark {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body.dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #116749, #9b1e1e);
    z-index: -1;
    animation: hueRotate 10s infinite linear;
}

body.dark header {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(30, 30, 30, 1) 100%);
    opacity: 80%;
}

body.dark .menu a {
    color: #f0f0f0;
}
body.dark .profile-card{
    color: var(--dark-content-text);
}

body.dark .content-container {
    color: var(--dark-content-text);
}

body.dark .skills-container{
    color: var(--dark-body-text);
}

body.dark .projects-container{
    color: var(--dark-body-text);
}

body.dark .contacts a {
    color: #ccc;
}

body.dark .theme-toggle {
    color: #fff;
}
